In [1]:
import pandas as pd
import numpy as np

## 1. csv파일
* comma-separated values
* 필드를 쉼표로 구분한 텍스트 데이터
* 확장자 csv사용
* read_csv
* to_csv() => 데이터를 csv로 저장하기

In [31]:
rc = pd.read_csv('일별평균대기오염도_2019.csv',header = None, encoding='euc-kr')
rc

,0,1,2,3,4,5,6,7
0,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
1,20190101,강남구,0.028,0.012,0.6,0.005,37,31
2,20190101,강남대로,0.041,0.01,0.9,0.004,40,28
3,20190101,강동구,0.04,0.01,0.8,0.005,43,32
4,20190101,강변북로,0.048,0.009,0.5,0.005,45,27
...,...,...,...,...,...,...,...,...
17071,20191231,청계천로,0.016,0.023,0.4,0.003,24,17
17072,20191231,한강대로,0.02,0.018,0.4,0.003,27,12
17073,20191231,행주,0.007,0.028,0.6,0.004,27,13
17074,20191231,홍릉로,0.025,0.018,0.5,0.004,27,16
17075,20191231,화랑로,0.019,0.02,0.2,0.004,20,13

In [32]:
# 열 이름 지정
rc.columns= ['측정일시','측정소명','이산화질소농도','오존농도','이산화탄소농도','아황산가스','미세먼지','초미세먼지']

In [33]:
print(rc.head())
print('Wn')
print(rc.tail())

       측정일시  측정소명       이산화질소농도       오존농도       이산화탄소농도       아황산가스  \
0      측정일시  측정소명  이산화질소농도(ppm)  오존농도(ppm)  이산화탄소농도(ppm)  아황산가스(ppm)
1  20190101   강남구         0.028      0.012           0.6       0.005
2  20190101  강남대로         0.041       0.01           0.9       0.004
3  20190101   강동구          0.04       0.01           0.8       0.005
4  20190101  강변북로         0.048      0.009           0.5       0.005

        미세먼지       초미세먼지
0  미세먼지(㎍/㎥)  초미세먼지(㎍/㎥)
1         37          31
2         40          28
3         43          32
4         45          27
Wn
           측정일시  측정소명 이산화질소농도   오존농도 이산화탄소농도  아황산가스 미세먼지 초미세먼지
17071  20191231  청계천로   0.016  0.023     0.4  0.003   24    17
17072  20191231  한강대로    0.02  0.018     0.4  0.003   27    12
17073  20191231    행주   0.007  0.028     0.6  0.004   27    13
17074  20191231   홍릉로   0.025  0.018     0.5  0.004   27    16
17075  20191231   화랑로   0.019   0.02     0.2  0.004   20    13

#### head() 함수
* 인자 n 사용, 기본값 5
* 데이터프레임의 앞부분 일부 행을 반환

#### tail()) 함수
* 인자 n 사용, 기본값 5
* 데이터프레임의 마지막 일부 행을 반환

In [34]:
rc.shape # 데이터프레임의 크기

(17076, 8)

In [35]:
rc.info() # 데이터프레임의 기본정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17076 entries, 0 to 17075
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   측정일시     17076 non-null  object
 1   측정소명     17076 non-null  object
 2   이산화질소농도  16602 non-null  object
 3   오존농도     16674 non-null  object
 4   이산화탄소농도  16586 non-null  object
 5   아황산가스    16608 non-null  object
 6   미세먼지     16489 non-null  object
 7   초미세먼지    16493 non-null  object
dtypes: object(8)
memory usage: 1.0+ MB

In [36]:
rc.dtypes

측정일시       object
측정소명       object
이산화질소농도    object
오존농도       object
이산화탄소농도    object
아황산가스      object
미세먼지       object
초미세먼지      object
dtype: object

In [37]:
print(rc.초미세먼지.dtypes)

object

In [38]:
#describe() -> 숫자 데이터를 갖는 열에 대해 주요 통계 정보
print(rc.describe())

            측정일시   측정소명 이산화질소농도   오존농도 이산화탄소농도  아황산가스   미세먼지  초미세먼지
count      17076  17076   16602  16674   16586  16608  16489  16493
unique       357     51     108     91      35     18    206    153
top     20190610    송파구   0.021   0.02     0.4  0.004     26     20
freq          50    356     443    498    3272   5509    403    654

In [39]:
# count() - 각 열이 갖고 있는 요소 개수를 시리즈 객체로 반환
rc.count()

측정일시       17076
측정소명       17076
이산화질소농도    16602
오존농도       16674
이산화탄소농도    16586
아황산가스      16608
미세먼지       16489
초미세먼지      16493
dtype: int64

In [40]:
# value_counts() -> 고유값은 행 인덱스, 고유값의 개수는 데이터 값이 되는 시리즈 생성
rc['초미세먼지'].value_counts()

20     654
19     651
21     618
15     607
17     606
      ...
121      1
110      1
142      1
107      1
127      1
Name: 초미세먼지, Length: 153, dtype: int64

In [42]:
# mean()함수 -> 모든 열의 평균값 반환
rc.mean()

Series([], dtype: float64)

In [43]:
# median() -> 중간값 계산
rc.median()

Series([], dtype: float64)

In [44]:
# max() -> 최댓값 계산
rc.max()

Series([], dtype: float64)

In [45]:
# min() -> 최솟값 계산
rc.min()

Series([], dtype: float64)

In [47]:
# std() -> 표준편차 계산
rc.std()

Series([], dtype: float64)

In [48]:
# corr() -> 모든 열에 대해 2개씩 짝을 짓고 각 경우의 상관계수를 계산
rc.corr()

Empty DataFrame
Columns: []
Index: []